<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Settings</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
        body {
            background-color: #f8f9fa;
            font-family: Arial, sans-serif;
        }

        .sidebar {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 250px;
            background-color: #f8f9fa;
            padding: 20px;
        }

        .sidebar a {
            display: block;
            margin-bottom: 10px;
        }

        .content {
            margin-left: 250px;
            padding: 20px;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        form {
            max-width: 400px;
            margin: 0 auto;
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            font-weight: bold;
        }

        .form-control-file {
            overflow: hidden;
        }

        #imagePreview {
            max-width: 200px;
            display: none;
            margin-top: 10px;
        }

        .btn-success {
            background-color: #28a745;
            color: #fff;
        }
    </style>
</head>

<body>
    <div class="sidebar">
        <a href="/student/profile">Student Profile</a>
        <a href="/student/settings">Settings</a>
        <a href="/logout">Logout</a>
    </div>

    <div class="content">
        <h2>Student Settings</h2>
        <form action="/student/settings" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="studentFirstName">First Name:</label>
                <input type="text" class="form-control" id="studentFirstName" name="studentFirstName"
                    placeholder="Enter your first name">
            </div>

            <div class="form-group">
                <label for="studentLastName">Last Name:</label>
                <input type="text" class="form-control" id="studentLastName" name="studentLastName"
                    placeholder="Enter your last name">
            </div>

            <div class="form-group">
                <label for="studentEmail">Email Address:</label>
                <input type="email" class="form-control" id="studentEmail" name="studentEmail"
                    placeholder="Enter your email address">
            </div>

            <div class="form-group">
                <label for="studentAcademicSchool">Academic School</label>
                <select class="form-select" name="studentAcademicSchool" id="studentAcademicSchool">
                    <option value="Chandaria School of Business">Chandaria School of Business</option>
                    <option value="School of Science and Technology">School of Science and Technology</option>
                    <option value="School of Humanities & Social Sciences">School of Humanities & Social Sciences
                    </option>
                    <option value="School of Pharmacy & Health Sciences">School of Pharmacy & Health Sciences</option>
                    <option value="Graduate Studies, Research & Extension">Graduate School, Research & Extension
                    </option>
                    <option value="School of Communication, Cinematic and Creative Arts">School of Communication,
                        Cinematic and
                        Creative Arts</option>
                </select>
            </div>


            <div class="form-group">
                <label for="studentMajor">Student Major:</label>
                <select class="form-select" id="studentMajor" name="studentMajor">
                    <option value="" disabled selected>Select a major</option>
                </select>
            </div>

            <div class="form-group">
                <label for="industry" class="form-label">Industry:</label>
                <select id="studentIndustry" name="studentIndustry" class="form-select">
                    <option value="" disabled selected>Select Industry</option>
                    <option value="Technology">Technology</option>
                    <option value="Finance">Finance</option>
                    <option value="Healthcare">Healthcare</option>
                    <option value="Education">Education</option>
                    <option value="Marketing">Marketing</option>
                    <option value="Retail">Retail</option>
                    <option value="Manufacturing">Manufacturing</option>
                    <option value="Hospitality">Hospitality</option>
                    <option value="Transportation">Transportation</option>
                </select>
            </div>

            <div class="form-group">
                <label for="studentLocation">Location:</label>
                <select id="studentLocation" name="studentLocation" class="form-select">
                    <option value="" disabled selected></option>
                    <option value="Nairobi">Nairobi</option>
                    <option value="Mombasa">Mombasa</option>
                    <option value="Nakuru">Nakuru</option>
                    <option value="Kisumu">Kisumu</option>
                </select>
            </div>

            <div class="form-group">
                <label for="studentAddress">Address:</label>
                <input class="form-control" type="text" name="studentAddress" id="studentAddress">
            </div>

            <div class="mb-3">
                <label for="studentPhoneNo" class="form-label">Student Phone Number:</label>
                <input type="phone" id="studentPhoneNo" name="studentPhoneNo" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="studentIDNumber">Student ID Number:</label>
                <input class="form-control" type="text" name="studentIDNumber" id="studentIDNumber">
            </div>

            <div class="form-group">
                <label for="profilePicture">Profile Picture:</label>
                <input type="file" class="form-control-file" id="profilePicture" name="profilePicture">
            </div>

            <div class="form-group">
                <label for="resume">Resume:</label>
                <input type="file" class="form-control-file" id="resume" name="resume">
            </div>

            <div class="form-group">
                <label>Preview:</label>
                <img id="imagePreview" src="#" alt="Profile Picture Preview">
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>

    <script>
        var academicSchoolSelect = document.getElementById("studentAcademicSchool");
        var majorSelect = document.getElementById("studentMajor");
        var form = document.getElementById("studentSettingsForm");

        var majorsData = {
            "Chandaria School of Business": [
                "Bachelor of Global Leadership and Governance",
                "BSc in Accounting",
                "BSc in Hotel and Restaurant Management",
                "BSc in International Business Administration"
            ],
            "School of Science and Technology": [
                "BSc in Applied Computer Technology",
                "BSc in Information Systems & Technology",
                "BSc in Data Science and Analytics",
                "BSc in Software Engineering"
            ],
            "School of Humanities & Social Sciences": [
                "BA in International Relations",
                "BA in Criminal Justice Studies",
                "BA in Psychology",
                "BA in Sociology"
            ],
            "School of Pharmacy & Health Sciences": [
                "Bachelor of Pharmacy",
                "BSc in Applied Biochemistry",
                "Bachelor of Technology in Analytical Chemistry",
                "BSc in Epidemiology and Biostatistics"
            ],
            "Graduate Studies, Research & Extension": [
                "Master of Business Administration (MBA)",
                "Master of Science in Computer Science",
                "Master of Arts in Education",
                "Master of Public Health (MPH)",
                "Master of Science in Global Banking and Finance",
                "Online Master of Business Administration",
                "Master of Business Administration",
                "Master of Business Administration",
                "MBA - Global Business Management",
                "MBA - Health Leadership and Management",
                "Master of Science in Management and Organizational Development",
                "Master of Arts in Criminal and Transitional Justice",
                "Master of Arts in International Relations",
                "Master of Arts in Counselling Psychology",
                "Master of Arts in Clinical Psychology",
                "Master of Arts in Marriage and Family Therapy",
                "Master of Science in Information Security",
                "Master of Science in Information Systems and Technology",
                "Master of Arts in Communication Studies"
            ],
            "School of Communication, Cinematic and Creative Arts": [
                "BA in Animation",
                "BA in Film Production and Directing",
                "BA in Journalism"
            ]

        };

        academicSchoolSelect.addEventListener("change", function () {
            var selectedSchool = academicSchoolSelect.value;
            var majors = majorsData[selectedSchool] || [];

            majorSelect.innerHTML = ''; // Clear existing options

            // Populate the majors dropdown with options
            majors.forEach(function (major) {
                var option = document.createElement("option");
                option.value = major;
                option.textContent = major;
                majorSelect.appendChild(option);
            });
        });

        form.addEventListener("submit", function (event) {
            if (majorSelect.value === "") {
                event.preventDefault();
                alert("Please select a major.");
            }
        });





        var profilePictureInput = document.getElementById("profilePicture");
        var resumeInput = document.getElementById("resume");
        var imagePreview = document.getElementById("imagePreview");

        profilePictureInput.addEventListener("change", function (event) {
            var file = event.target.files[0];
            var reader = new FileReader();

            reader.onload = function (e) {
                imagePreview.src = e.target.result;
                imagePreview.style.display = "block";
            };

            if (file) {
                reader.readAsDataURL(file);
            }
        });

        // Handle resume input change
        resumeInput.addEventListener("change", function (event) {
            var file = event.target.files[0];
            // Handle the resume file as needed
            // ...
        });

    </script>
</body>

</html>